body {
	color: #333333;
	font-family: Verdana;
	margin: 0px;
}
h1 {
	color: gray;
	font-size: 32px;
}

h2 {
	color: #999999;
	font-size: 32px;
}
	
#outer-wrapper {
	width: 680px;
	margin: 0 auto 0 auto;
	padding: 10px;
}	
 #header {
	float: center-left;
	margin: 5px;
	border-color: gray;
	border-style: solid
	border-width: 2px;
	text-align: center;
 }
#header h1 {
	color: #CC6600;
	font-size: 32px; 
}
#main-wrapper {
	width: 430px;
	float: left;
	padding: 0 0 0 10px;
}
#sidebar-wrapper {
	width: 680px;
	float: right;
	padding: 16px 0 0px;
}

	





